---
title: GitLab.com Rapid Results Consulting
suppress_header: true
description: "GitLab is your strategic partner for software delivery."
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab.com Rapid Results Consulting
    %h3.headline-subtitle
      GitLab is your strategic partner for software delivery

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Overview
        %p.service-para
          This service package is designed for customers on-boarding to GitLab’s SaaS product - GitLab.com.  Our Professional Services Engineers will work with your team to architect projects and groups and advise on best practices for getting the most value possible from your GitLab purchase. 
        %h2 Duration and Cost
        %p.service-para
          The estimated duration for the scope below is 2 weeks.  
          <br/><br/>
          GitLab.com Rapid Results is a fixed price engagement, the list price is $17,500.00 USD.  Travel and expenses are not included in the base price and will be invoiced separately.
        %h2 Who is this for?
        %p.service-para
          New customers to GitLab.com’s SaaS offering who want help in improving the time-to-value for their GitLab solutions.
        %h2 What’s Included
        %ul
          %li Solution planning to assess current tech stack and plan for changes
          %li Solution roadmap providing clear on-boarding path for teams
          %li Best Practices planning and recommendations
          %li End user training to create GitLab evangelists within your organization
        .row 
          .col-md-12
            %h2 Sample Agenda
            %table
              %colgroup
                %col{:width => "25%"}
                %col{:width => "70%"}
              %tbody
                %tr
                  %th
                    %h4
                      %strong 
                        Week 1:
                        %br
                        Solution Planning
                  %td
                    %ul
                      %li Kick-off and Current State assessment
                      %li Introduction to GitLab team and Rapid Results program
                      %li Set up regular cadence
                      %li 
                        Establish key personnel from each side that will be entrusted to make the project a success
                        %ul
                          %li Executive sponsor(s)
                          %li Project Manager
                          %li Development and Operations leaders
                      %li Establish connectivity and access to GitLab group
                      %li Current technical stack evaluation
                      %li Future State discussion and design
                      %li Discuss needs for single sign-on and identity management
                      %li 
                        %strong Deliverable: Solution Roadmap
                %tr
                  %th
                    %h4
                      %strong 
                        Week 2: 
                        %br
                        Training & Deployment
                  %td
                    %ul
                      %li 
                        Configure group policies to match corporate standards
                        %ul 
                          %li Single-sign on
                          %li IP Whitelisting
                          %li Group owners
                          %li 2FA settings
                      %li 
                        Discuss data and migration considerations, create migration assessment
                        %ul
                          %li Note: the rapid results program does not include direct migration services
                      %li GitLab with Git Basics Training for any team members new to git or GitLab
                      %li GitLab CI/CD Training for Development Team Leads and other DevOps personnel
                      %li Install and configure private GitLab runners (either at the group or project level)
                      %li Project wrap up 
                      %li Introduction to Technical Account Management and GitLab Support for on-going engagement
                      %li 
                        %strong Deliverable: Training completion certificates and final project package
                
.services-form#contactform
  .page-container.container.text-center
    %h2 Interested in GitLab Professional Services? Get in touch.
    %script{src: "//page.gitlab.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1476
    :javascript
      MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1476, function(form) {
        form.onSuccess(function(values, followUpUrl) {

          form.getFormElem().hide();
          document.getElementById('confirmform').style.visibility = 'visible';
          return false;
        });
      });
    #confirmform{style: "visibility:hidden;"}
      %p Submission received! We'll be in contact shortly.
